<section class="hero is-primary is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title akrorim large-text">
          App Teste Web
        </h1>
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <p class="control">
              <input type="text" class="input is-medium" placeholder="Usuário">
            </p>
            <br>
            <p class="control">
                <input type="password" class="input is-medium" placeholder="Senha">
            </p>
            <br>
            <p>
                <a class="button is-primary is-inverted is-outlined is-fullwidth">Entrar</a>
                <br>
                <a class="button is-text is-fullwidth">Cadastrar</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>