<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title akrorim large-text">
        App Teste Web
      </h1>
      <div class="columns">

        <div class="column is-half is-offset-one-quarter">
          <form [formGroup]="form">
            <p class="control">
              <input type="text"class="input is-medium" placeholder="Usuário" formControlName='userName'>
            </p>
            <br>
            <p class="control">
              <input type="password" class="input is-medium" placeholder="Senha" formControlName='password'>
              <span class="tag is-danger" *ngIf="!form.controls.password.valid && !form.controls.password.pristine">Senha inválida</span>
            </p>
            <br>
            <p>
              <button (click)="submit()" class="button is-primary is-inverted is-outlined is-fullwidth"
                [disabled]="!form.valid">Entrar</button>
              <br>
              <a routerLink='/signup' class="button is-text is-fullwidth">Cadastrar</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>