<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title akrorim large-text">
        App Teste Web
      </h1>
      <div class="columns">
        <div class="column is-half is-offset-one-quarter">
          <p class="control">
            <input type="text" class="input is-medium" placeholder="Nome">
          </p>
          <p class="control">
            <input type="text" class="input is-medium" placeholder="Sobrenome">
          </p>
          <p class="control">
            <input type="email" class="input is-medium" placeholder="E-Mail">
          </p>
          <p class="control">
            <input type="text" class="input is-medium" placeholder="CPF">
          </p>
          <p class="control">
            <input type="text" class="input is-medium" placeholder="Usuário">
          </p>
          <p class="control">
            <input type="password" class="input is-medium" placeholder="Senha">
          </p>
          <p class="control">
            <input type="password" class="input is-medium" placeholder="Confirmar Senha">
          </p>
          <br>
          <p>
            <a class="button is-primary is-inverted is-outlined is-fullwidth">Salvar</a>
            <br>
            <a class="button is-text is-fullwidth">Voltar</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</section>