<section class="hero is-primary is-medium animated slideInDown">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item medium-text akrorim">
            App Test Web
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
              <a class="navbar-item">
                Bem vindo({{user}})
              </a>
            <a routerLink = '/home' class="navbar-item">
              Inicio
            </a>
            <a routerLink = '/cart' class="navbar-item">
              Carrinho({{totalItems}})
            </a>
            <a class="navbar-item">
              Meu Perfil
            </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted" (click)='logout()'>
                <span class="icon">
                  <i class="fas fa-power-off"></i>
                </span>
                <span>Sair</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>