/* You can add global styles to this file, and also import other style files */

.akrorim{
    font-family: 'Akronim', cursive;
}
.medium-text{
    font-size: 2em;
}
.large-text{
    font-size: 3em;
}
